In [ ]:
from google.colab import drive

# New Section

In [ ]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Hyderabad-Data2.csv')

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
from sklearn.impute import SimpleImputer

In [ ]:
data.head()

,active,amenities,balconies,bathroom,combineDescription,completeStreetName,deposit,facing,facingDesc,floor,...,property_size,reactivationSource,rent_amount,sharedAccomodation,shortUrl,swimmingPool,totalFloor,type_bhk,waterSupply,weight
0,True,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",3,3,NaN,"Shreya carnation, Block I, NCB Enclave, Gachib...",90000,W,West,3,...,2200,USER_DASHBOARD,28000,False,http://nobr.kr/sv/9Kvqj,False,5,BHK3,CORP_BORE,NaN
1,True,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",1,2,NaN,"Inner Ring Rd, near RTO Bandlaguda South Zone",45000,E,East,2,...,1200,USER_DASHBOARD,15000,False,http://nobr.kr/sv/j2pD6,False,2,BHK3,BOREWELL,NaN
2,True,"{""LIFT"":true,""GYM"":true,""INTERNET"":false,""AC"":...",3,3,NaN,"Rd Number 2, Shirdi Sai Nagar, Manikonda, Hyde...",80000,E,East,0,...,1800,MISSED_CALL,16000,False,http://nobr.kr/sv/TXJmj,False,3,BHK3,CORP_BORE,NaN
3,True,"{""LIFT"":false,""GYM"":false,""INTERNET"":false,""AC...",1,2,NaN,"Plot No. 44, Road No. 1/A, kakatiya colony, LB...",18000,W,West,2,...,750,MISSED_CALL,9000,False,http://nobr.kr/sv/FnCsf,False,2,BHK2,CORP_BORE,NaN
4,True,"{""LIFT"":true,""GYM"":false,""INTERNET"":false,""AC""...",2,2,NaN,"Madhapur HUDA Techno Enclave, Near MaxCure Su...",80000,E,East,2,...,1250,None,32500,False,http://nobr.kr/sv/BQFRb,False,5,BHK2,CORP_BORE,NaN

In [ ]:
data.describe()

,bathroom,combineDescription,deposit,floor,property_age,property_size,rent_amount,totalFloor,weight
count,9820.000000,0.0,9.820000e+03,9820.000000,9820.000000,9820.000000,9820.000000,9820.000000,0.0
mean,1.934216,NaN,3.426805e+04,2.184725,3.759165,1087.364460,15291.173931,4.044501,NaN
std,0.747437,NaN,4.276260e+04,2.533791,3.477064,542.146286,9587.311735,4.199083,NaN
min,1.000000,NaN,1.000000e+00,0.000000,-1.000000,0.000000,0.000000,0.000000,NaN
25%,1.000000,NaN,1.600000e+04,1.000000,1.000000,720.000000,9000.000000,2.000000,NaN
50%,2.000000,NaN,2.600000e+04,2.000000,3.000000,1030.000000,13000.000000,3.000000,NaN
75%,2.000000,NaN,4.000000e+04,3.000000,5.000000,1350.000000,19000.000000,5.000000,NaN
max,8.000000,NaN,2.000000e+06,31.000000,10.000000,10000.000000,100000.000000,80.000000,NaN

In [ ]:
# 1. Handling Missing Values
# Check for missing values
missing_values = data.isnull().sum()
print("Missing Values:\n", missing_values)

Missing Values:
 active                   0
amenities                0
balconies                0
bathroom                 0
combineDescription    9820
completeStreetName       1
deposit                  0
facing                   0
facingDesc            4398
floor                    0
furnishingDesc           0
gym                      0
id                       0
isMaintenance            0
lift                     0
loanAvailable            0
locality                 6
localityId               0
location                 0
maintenanceAmount        0
ownerName                0
parking                  0
parkingDesc              0
propertyTitle            0
propertyType             0
property_age             0
property_size            0
reactivationSource      32
rent_amount              0
sharedAccomodation       0
shortUrl                 0
swimmingPool             0
totalFloor               0
type_bhk                 0
waterSupply              0
weight                9820
dtype: int64

In [ ]:
New_Data = data.drop(['active', 'amenities', 'balconies',
       'completeStreetName', 'facing', 'facingDesc',
        'id', 'isMaintenance', 'lift', 'loanAvailable',
         'ownerName',
       'reactivationSource',
        'shortUrl', 'swimmingPool',
        'weight','combineDescription',
                      'location','deposit','localityId','furnishingDesc','propertyTitle','propertyType','sharedAccomodation','waterSupply'
],axis=1)

In [ ]:
# after removing irrelevant columns
New_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9820 entries, 0 to 9819
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bathroom            9820 non-null   int64
 1   deposit             9820 non-null   int64
 2   floor               9820 non-null   int64
 3   furnishingDesc      9820 non-null   object
 4   gym                 9820 non-null   bool
 5   locality            9814 non-null   object
 6   localityId          9820 non-null   object
 7   maintenanceAmount   9820 non-null   object
 8   parking             9820 non-null   object
 9   parkingDesc         9820 non-null   object
 10  propertyTitle       9820 non-null   object
 11  propertyType        9820 non-null   object
 12  property_age        9820 non-null   int64
 13  property_size       9820 non-null   int64
 14  rent_amount         9820 non-null   int64
 15  sharedAccomodation  9820 non-null   bool
 16  totalFloor          9820 non-null   int64
 17  type_bhk            9820 non-null   object
 18  waterSupply         9820 non-null   object
dtypes: bool(2), int64(7), object(10)
memory usage: 1.3+ MB

In [ ]:
# after removing irrelevant columns
New_Data.isnull().sum()

bathroom              0
deposit               0
floor                 0
furnishingDesc        0
gym                   0
locality              6
localityId            0
maintenanceAmount     0
parking               0
parkingDesc           0
propertyTitle         0
propertyType          0
property_age          0
property_size         0
rent_amount           0
sharedAccomodation    0
totalFloor            0
type_bhk              0
waterSupply           0
dtype: int64

In [ ]:
# Fill missing values in the "locality" column with 0
New_Data['locality'].fillna(0, inplace=True)

# Check for missing values after filling
missing_values = New_Data.isnull().sum()

# Print the updated DataFrame with missing values filled
print(New_Data)

# Print the count of missing values in each column
print("Missing Values Count:\n", missing_values)

      bathroom  deposit  floor furnishingDesc    gym  \
0            3    90000      3           Semi  False
1            2    45000      2    Unfurnished  False
2            3    80000      0           Semi   True
3            2    18000      2    Unfurnished  False
4            2    80000      2           Semi  False
...        ...      ...    ...            ...    ...
9815         2    26000      1    Unfurnished  False
9816         1     5000      0    Unfurnished  False
9817         1    17000      0           Semi  False
9818         1    16000      1    Unfurnished  False
9819         1    14000      3    Unfurnished  False

                             locality                   localityId  \
0                          Gachibowli         gachibowli_hyderabad
1                     Chandrayangutta    chandrayangutta_hyderabad
2                           Manikonda          manikonda_hyderabad
3                            LB Nagar                    NOT_FOUND
4                          HITEC City        hitech_city_hyderabad
...                               ...                          ...
9815                        King Koti                    NOT_FOUND
9816                  Jagadgiri Gutta    jagadgiri_gutta_hyderabad
9817  Jyothi Nagar, Ramachandra Puram  ramachandra_puram_hyderabad
9818                       Kukatpally         kukatpally_hyderabad
9819                        Yusufguda         yousufguda_hyderabad

     maintenanceAmount      parking   parkingDesc  \
0                 2000         BOTH  Bike and Car
1                 None  TWO_WHEELER          Bike
2                 1000         BOTH  Bike and Car
3                  500         BOTH  Bike and Car
4                 2000         BOTH  Bike and Car
...                ...          ...           ...
9815              None  TWO_WHEELER          Bike
9816              None         NONE          None
9817               200  TWO_WHEELER          Bike
9818              None  TWO_WHEELER          Bike
9819                 1  TWO_WHEELER          Bike

                                          propertyTitle propertyType  \
0        3 BHK For Rent in Shreya Carnation, Gachibowli         RENT
1                     3 BHK For Rent in Chandrayangutta         RENT
2           3 BHK For Rent in Amrutha Avenue, Manikonda         RENT
3               2 BHK For Rent in Standalone , Lb Nagar         RENT
4       2 BHK For Rent in Vibrant Residency, Hitec City         RENT
...                                                 ...          ...
9815                        2 BHK For Rent in King Koti         RENT
9816                   1 RK For Rent in Jagadgiri Gutta         RENT
9817  1 BHK For Rent in Jyothi Nagar, Ramachandra Puram         RENT
9818                       1 BHK For Rent in Kukatpally         RENT
9819   2 BHK For Rent in Thirumala Residency, Yusufguda         RENT

      property_age  property_size  rent_amount  sharedAccomodation  \
0                5           2200        28000               False
1                1           1200        15000               False
2                0           1800        16000               False
3                0            750         9000               False
4                5           1250        32500               False
...            ...            ...          ...                 ...
9815             5            800        13000               False
9816             5            150         5000               False
9817            10            550         8500               False
9818            10            500         8000               False
9819            10            560         7000               False

      totalFloor type_bhk waterSupply
0              5     BHK3   CORP_BORE
1              2     BHK3    BOREWELL
2              3     BHK3   CORP_BORE
3              2     BHK2   CORP_BORE
4              5     BHK2   CORP_BORE
...          ...      ...         ...
9815           2     BHK2        None
9816           0      RK1        None
9817           3     BHK1   CORP_BORE
9818           2     BHK1        None
9819           4     BHK2        None

[9820 rows x 19 columns]
Missing Values Count:
 bathroom              0
deposit               0
floor                 0
furnishingDesc        0
gym                   0
locality              0
localityId            0
maintenanceAmount     0
parking               0
parkingDesc           0
propertyTitle         0
propertyType          0
property_age          0
property_size         0
rent_amount           0
sharedAccomodation    0
totalFloor            0
type_bhk              0
waterSupply           0
dtype: int64

In [ ]:
New_Data.isnull().sum()

bathroom              0
deposit               0
floor                 0
furnishingDesc        0
gym                   0
locality              0
localityId            0
maintenanceAmount     0
parking               0
parkingDesc           0
propertyTitle         0
propertyType          0
property_age          0
property_size         0
rent_amount           0
sharedAccomodation    0
totalFloor            0
type_bhk              0
waterSupply           0
dtype: int64

In [ ]:
New_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9820 entries, 0 to 9819
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   bathroom            9820 non-null   int64
 1   deposit             9820 non-null   int64
 2   floor               9820 non-null   int64
 3   furnishingDesc      9820 non-null   object
 4   gym                 9820 non-null   bool
 5   locality            9820 non-null   object
 6   localityId          9820 non-null   object
 7   maintenanceAmount   9820 non-null   object
 8   parking             9820 non-null   object
 9   parkingDesc         9820 non-null   object
 10  propertyTitle       9820 non-null   object
 11  propertyType        9820 non-null   object
 12  property_age        9820 non-null   int64
 13  property_size       9820 non-null   int64
 14  rent_amount         9820 non-null   int64
 15  sharedAccomodation  9820 non-null   bool
 16  totalFloor          9820 non-null   int64
 17  type_bhk            9820 non-null   object
 18  waterSupply         9820 non-null   object
dtypes: bool(2), int64(7), object(10)
memory usage: 1.3+ MB

In [ ]:
#one-hot encoding for these categorical columns
New_Data = pd.get_dummies(New_Data, columns=['furnishingDesc', 'locality', 'localityId', 'maintenanceAmount', 'parking', 'parkingDesc', 'propertyTitle', 'propertyType', 'type_bhk', 'waterSupply'])

In [ ]:
New_Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9820 entries, 0 to 9819
Columns: 8492 entries, bathroom to waterSupply_None
dtypes: bool(2), int64(7), uint8(8483)
memory usage: 80.0 MB

In [ ]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
numerical_columns = ['bathroom', 'deposit', 'floor', 'property_age', 'property_size', 'totalFloor', 'rent_amount']

New_Data[numerical_columns] = scaler.fit_transform(New_Data[numerical_columns])

In [ ]:
New_Data.head()

,bathroom,deposit,floor,gym,property_age,property_size,rent_amount,sharedAccomodation,totalFloor,furnishingDesc_Full,...,type_bhk_BHK1,type_bhk_BHK2,type_bhk_BHK3,type_bhk_BHK4,type_bhk_BHK4PLUS,type_bhk_RK1,waterSupply_BOREWELL,waterSupply_CORPORATION,waterSupply_CORP_BORE,waterSupply_None
0,1.425991,1.303354,0.321777,False,0.356881,2.052384,1.325656,False,0.227561,0,...,0,0,1,0,0,0,0,0,1,0
1,0.088017,0.250979,-0.072908,False,-0.793573,0.207769,-0.030372,False,-0.486917,0,...,0,0,1,0,0,0,1,0,0,0
2,1.425991,1.069492,-0.862280,True,-1.081187,1.314538,0.073938,False,-0.248758,0,...,0,0,1,0,0,0,0,0,1,0
3,0.088017,-0.380446,-0.072908,False,-1.081187,-0.622307,-0.656231,False,-0.486917,0,...,0,1,0,0,0,0,0,0,1,0
4,0.088017,1.069492,-0.072908,False,0.356881,0.300000,1.795050,False,0.227561,0,...,0,1,0,0,0,0,0,0,1,0

In [ ]:
#Split your dataset into a training set and a testing set
from sklearn.model_selection import train_test_split

# Split the data into features (X) and the target variable (y)
X = New_Data.drop('rent_amount', axis=1)
y = New_Data['rent_amount']

# Split the data into training and testing sets (e.g., 80% train, 20% test)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
# Create a Linear Regression model
model = LinearRegression()

In [ ]:
# Train the model on the training data
model.fit(X_train, y_train)

LinearRegression()

In [ ]:
# Make predictions
predictions = model.predict(X_test)

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

# Evaluate the model
mae = mean_absolute_error(y_test, predictions)
mse = mean_squared_error(y_test, predictions)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, predictions)

In [ ]:
print(f"Mean Absolute Error: {mae}")
print(f"Mean Squared Error: {mse}")
print(f"Root Mean Squared Error: {rmse}")
print(f"R-squared: {r2}")

Mean Absolute Error: 2024378380.1137712
Mean Squared Error: 4.97925277784661e+20
Root Mean Squared Error: 22314239350.348938
R-squared: -5.3434413244327e+20